<div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
  <div class="modal" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Change Todo Status</h4>
                <button type="button" class="close" data-dismiss="modal">
                    &times;
                </button>
            </div>
            <div class="modal-body">
              <form #updateTodoStatusForm="ngForm" (ngSubmit) = "updateTodoStatus(updateTodoStatusForm.value)">
                  <div class="form-group">
                      <label for="inputUserName">Select</label>
                      <select [(ngModel)]="selectedValue" class="form-control" name="selectedValue">
                        <option *ngFor="let status of statusList" [ngValue]="status">{{status.name}}</option>
                      </select>
                  </div>
                  <button type="submit" class="btn btn-primary">Update</button>
              </form>
            </div>
        </div>
    </div>
</div>
