<div class="container">
  <h2>Project List</h2>
  <div class="text-align-right">
    <button class="btn btn-primary" (click)="newProject()">New</button>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Created At</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let project of projects">
        <td>{{ project.name }}</td>
        <td>{{ project.created_at }}</td>
        <td>
          <button class="btn btn-primary" (click) = "goToProject(project.id)">Show</button>
          <button class="btn btn-primary">Edit</button>
          <button class="btn btn-primary">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
